body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
}

.card {
  border: none;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

@media (min-width: 992px) {
  .offcanvas {
    display: none; /* Hide Offcanvas on Desktop */
  }
}
